{%extends 'base.html'%} {%block title%}add Catogery{%endblock%} {%block
content%}
<h1>Add Catogery</h1>
<form action="{{url_for('add_category')}}" method="post">
  <label for="" class="form-label">Category Code:</label>
  <input type="text" class="form form-control" name="code" id="" /><br />
  <label for="">Name</label>
  <input type="text" class="form form-control" name="name" id="" /><br />
  <label for="">Discription</label><br />
  <textarea
    name="description"
    id=""
    class="form-control"
    placeholder="Leave a Discription here"
  ></textarea>
  <br />
  <input type="submit" class="btn btn-success" value="Create" />
</form>
{%endblock%}
