<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add student</title>
  </head>
  <body>
    <h2>Add student</h2>
    <form method="POST" action="/create">
      Name:<input type="text" name="name" required /><br />
      Age:<input type="number" name="age" required /><br />
      Grade:<input type="text" name="grade" required /><br />
      <input type="submit" value="Save" />
    </form>
    <a href="{{url_for('index_page')}}">Back</a>
  </body>
</html>
